<template>
<div>
  <div class="main">
    <div class="card" style="width: 50%; float: left;">
    <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 150px; border-radius: 50%">        
    <div style="position: absolute; margin-left: 150px;"><p><span style="font-size: 20px; font-weight: bold;">  Dmitry Kargaev</span> Saint Petersburg, Russian Federation <br><br> Freelance UX/UI
      designer, 80+ projects in web design, mobile apps (iOS and android) and
      creative projects. Open to offers.</p>
    </div>
    <div>
      <b-button class="mb-3" style="margin-right: 10px;" variant="primary">Contact Info</b-button>
      <b-button class="mb-3" variant="outline-primary">1,043 Connections</b-button>
    </div>
    </div>
    <div class="card" style="width: 30%; float: left; text-align: left; margin-bottom: 30px;"><p>YOUR DASHBOARD <a href="#" style=" margin-left: 120px; text-decoration: none">GO TO STATS</a></p><h1>367</h1><p>views today</p><h1>15</h1><p>posts view</p><h1>9</h1><p>search appeareances</p></div>
    <div class="card" style="text-align: left; margin-top: 20px; width: 50%; float: left;">      
    <div><h1 style="font-size: 30px;">About</h1><p>I'm more experienced in eCommerce web projects and mobile banking apps, but also like to work with creative projects, such as landing pages or unusual corporate websites.</p>
    <b-button variant="outline-primary">See More</b-button>
    </div>
    </div>
    <div class="card" style="width: 30%; float: left;text-align: left; margin-bottom: 30px;">
      <p>YOUR VISITORS</p>
      <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 50px; border-radius: 50%"><h5>Darlene Black</h5>
      <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 50px; border-radius: 50%"><h5>Darlene Green</h5>
      <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 50px; border-radius: 50%"><h5>Darlene Yellow</h5>
      <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 50px; border-radius: 50%"><h5>Darlene White</h5>
    </div>
    <div class="card" style="margin-top: 20px; width: 50%; float: left;">
        <div style="text-align: left;">
            <p>Projects<span style="margin-left: 10px; color: gray;">3 of 12</span></p>
            <b-icon icon="arrow-left"></b-icon>
            <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 150px; margin-left: 10px ; margin-right: 70px">
            <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 150px; margin-left: 15px; margin-right: 15px;">
            <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 150px; margin-left: 70px; margin-right: 10px">
            <b-icon icon="arrow-right"></b-icon>
            <br><br>
            <a href="#" style="text-decoration: none;"><b>SHOW ALL (12)</b></a>
        </div>
    </div>
    <div class="card" style="width: 30%; float: left;">
      <p style="text-align: left;">YOU MAY LIKE THESE COURSES</p>
      <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 75px; margin-left: 20px; margin-bottom: 20px"><div>UX Foundations: Prototyping</div>
      <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 75px; margin-left: 20px; margin-bottom: 20px"><div>Designing with Adobe</div>
      <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 75px; margin-left: 20px; "><div>UX Foundations: Styles and GUIs</div>
      <a href="#" style="text-decoration: none;">SEE ALL RECOMMENDATIONS</a></div>
    <div class="card" style="margin-top: 20px;">
    <div>
        <p style="text-align: left; font-weight: bold; font-size: 20px; color: black;">Skills and Endorsements</p>
        <div class="mini-card">User Experience (UX)
            <br>
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        </div>
        <div class="mini-card">User Experience (UX)
            <br>
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        </div>
        <div class="mini-card">Brand Identity
            <br>
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        <img src="https://www.fakepersongenerator.com/Face/male/male20151086256713043.jpg" alt="" style="width: 20px; border-radius: 50%">
        </div>
    </div>
    </div>
    <div class="card" style="margin-top: 20px;">
        <h3 style="text-align: left">Experience</h3>
    <img src="https://previews.123rf.com/images/lumut/lumut1705/lumut170500529/85801122-wire-world-logo-template.jpg" alt="" style="width: 100px; border-radius: 50%">        
    <div style="margin-left: 150px; text-align: left;">
        <p>Freelance UX/UI designer</p>
        <p>Self Employed</p><p>Around the world</p>
        <p>Work with clients and web studios as freelancer.  Work in next areas: eCommerce web projects; creative landing pages; iOs and Android apps; corporate web sites and corporate identity sometimes.</p>
    </div>
    <img src="https://play-lh.googleusercontent.com/y4bswMT02OROjzOPa5zDGsnXX5-cBABjF93j26seJH2cEHD4PuBW1d5VvwfYleeKf4_X" alt="" style="width: 100px; border-radius: 50%">        
    <div style="margin-left: 150px; text-align: left;">
        <p>UX/UI designer</p>
        <p>Upwork</p><p>International</p>
        <p>New experience with Upwork system. Work in next areas: UX/UI design, graphic design, interaction design, UX research.</p>
    </div>
    </div>
    <div class="card" style="margin-top: 20px;">
        <h3 style="text-align: left">Education</h3>
    <img src="https://previews.123rf.com/images/lumut/lumut1705/lumut170500529/85801122-wire-world-logo-template.jpg" alt="" style="width: 100px; border-radius: 50%">        
    <div style="margin-left: 150px; text-align: left;">
        <p>Moscow State Linguistic University</p>
        <p>Bachelor's degree Field Of StudyComputer and Information Systems Security/Information Assurance</p>
        <p>2013 — 2017</p>
        <p>Additional English classes and UX profile courses.</p>
    </div>
    </div>
  </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.main{
    background-color: #e2e2e2;
}
.card {
  border: 1px solid black;
  width: 50%;
  margin-left: 100px;
}
.mini-card {
  border: 1px solid black;
  width: 30%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
</style>